__pycache__/
*.py[cod]
**/__pycache__/
**/**/__pycache__/
**/**/**/__pycache__/
**/**/**/**/__pycache__/
**/**/**/**/**/__pycache__/
**/**/**/**/**/**/__pycache__/
**/**/**/**/**/**/**/__pycache__/
**/**/**/**/**/**/**/**/__pycache__/
__pycache__
**/__pycache__
**/**/__pycache__
**/**/**/__pycache__
**/**/**/**/__pycache__
**/**/**/**/**/__pycache__
**/**/**/**/**/**/__pycache__
**/**/**/**/**/**/**/__pycache__
**/**/**/**/**/**/**/**/__pycache__
